.project-carousel-container {
  max-width: 100%;   
  margin: auto;      
}

.project-carousel-img {
  width: 100%;     
  height: 500px;     
  object-fit: cover; 
  border-radius: 10px;
}

.common-color {
  color: grey;
}

.gradient-text {
  background: linear-gradient(135deg, #4f79ac, #08aef5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-btn {
  background: linear-gradient(135deg, #4f79ac, #08aef5);
  color: #fff;
  transition: all 0.3s ease;
}
.contact-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .project-carousel-container {
    max-width: 100%;
  }

  .project-carousel-img {
    height: 200px;
  }
}
